--find-links https://download.pytorch.org/whl/torch_stable.html
torch
chromadb
sentence-transformers
numpy
tqdm
pandas
pathlib
node2vec
networkx
streamlit
pyvis
watchdog
kagglehub
langchain
langchain-openai
langchain-core
langchain-anthropic
langchain-community
langgraph
flask
flask-cors
